*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    min-height: 900px;
}
section{
    border: solid gray 1px;
    padding: 5px 25px;
}
h1{
    text-align: center;
    color: #bf823b;
    font-weight: bold; 
}
h2{
    border-bottom: solid ray 1px;
    color: #70af0a;
}
h3{
    color: #bf813bc9;
}
#primero {
    border: 2px 2px 2px 2px;
    border-color: black;
background: #FFFFFF;
background: -moz-linear-gradient(top,#FFFFFF 0%,#FFFFFF 34% #FF8B8E 100%);
background: -webkit-linear-gradient(top,#FFFFFF 0%, #FFFFFF 34%, #FF8B8E 100%);
height: 30px;
width: 100px;
}
#segundo{
margin-top: 5px;
    border: 2px 2px 2px 2px;
    border-color: black;
    background: #FFFFFF;
background: -moz-linear-gradient(top,#FFFFFF 0%,#FFFFFF 34% #36FF06 100%);
background: -webkit-linear-gradient(top,#FFFFFF 0%, #FFFFFF 34%, #36FF06 100%);
    background-color: linear-gradient(18odeg, green 0%, white 100%);
    height: 30px;
    width: 100px;
}
#partetit{

    color: #70af0a;
}
#flex{

    display: flex;
    align-items: center;
    justify-content: center;
}
#flex div{
    width: 100px;
    height: 100px;
}

